
  h1 {font-family: 'Bellefair', serif;

    background:orange;
  }
#walrus:hover {
  transform:translate(-5px,5px);
  box-shadow: 1px -1px #333, 2px -2px #333, 3px -3px #333, 4px -4px #333, 5px -5px #333;

}
#walrus {
  transition: 2s;
}
h1 {
  background: yellow;
  border: solid;
}
